.search-bar {
  display: flex;
  background-color: white;
  width: 100%;
  max-width: 500px;
  max-height:45px;
  justify-content: space-between;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  gap: 13px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 70px;
}

.search__input {
  padding: 1px;
  margin-top: 10px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500px;
  border-right: 1px solid #ddd;
}

.search__button {
  background: none;
  border: none;
  font-size: 1rem;
  margin-top: -30px;
  padding-bottom: 30px;
  margin-left: 380px;
  align-items: center;
  justify-content: center;
  color: #333;
}