.header {
  background-color: #070068;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.carrinho-img {
  margin-right: 30px; /* Espaço entre a imagem do carrinho e as categorias */
  width: 35%;
}

h1{
  color: #ffffff;
}